.hobbies {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 15rem;
    /*background: #46a1ba;
    */background: var(--color-fondo);
    width: 95%;
    min-height: 100vh;
    padding: 40px;
    border-radius: 9% 12% 9% 12%;
    -webkit-border-radius: 9% 12% 9% 12%;
    -moz-border-radius: 9% 12% 9% 12%;
    -ms-border-radius: 9% 12% 9% 12%;
    -o-border-radius: 9% 12% 9% 12%;
}