/* .skills {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 3rem;
    width: 100%;
    height:50vh;
    border: 2px solid;
    background: rgb(74, 155, 222);
} */



.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 15rem;
    /* background: #46a1ba; */
    background: linear-gradient(to bottom right, #475dda, #18d3d3);
    width: 95%;
    min-height: 100vh;
    padding: 40px;
}