.academic__courses__item__img {
        display: flex;
        align-items: center;
        justify-content: center;
        
}

.img_course {
        width: 10rem;
}
.academic__courses__box:nth-child(2) .img_course {
        width: 200px;
        height: 160px;
}