.formcontato__contacto {
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to bottom right, rgba(141, 148, 139, 0.726), rgba(135, 136, 136, 0.699));
}