
.formcontato__textarea{
    max-width: 50rem;
    width: 23vw;
    height: 2.7rem;
    font-size: 2em;
    margin-top: 1.1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.4);
    background: rgba(34, 34, 34, 0.783);
    color: #fff;
} 
textarea {
        margin: 0 0 1rem 0;
        padding: 1.3rem;
    }